* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-dt {
    background-color:rgb(18, 14, 14);
}

.nav-margin *{
    margin: 2px 29px;;
}

.cart-header{
    top:5px;
    right : 10px;
}

.header-main {
    background-color: rgb(66, 63, 63);
    padding: 50px;
    color: white;
}

.space-item * {
    padding: 10px 0px;
   
}

.space-item > div{
    display: flex;
    justify-content: center;
}

.cart-header *{
    display: inline-block;
    font-size: large;
    padding: 0 25px;
    border-bottom: 1px solid black;
}
.cart-details  {
    margin-right: 15px;
    margin-top: 15px;
    font-size: large;
    font-weight: bold;
}

.cart-purchase {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    z-index: -1;
}

.cart-position {
    position: absolute;
    top:69px;
    right:5px;
}

.cart-items  * {
    display: inline-block;
    font-size: large;
    padding: 0 5px;
}
/* Style Home Page Table */
.table-block {
    border-bottom: 2px solid black;
}


.table-block * {
    margin: 5px 0px;
    padding: 0 20px;
    width: 100%;
}

.table-block button {
    padding: 5px;
    background-color: azure;
}

.table-block button:hover {
    background-color: rgb(188, 145, 51);
}

.toast-notification {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}