section h2{
    font-family:"Metal Mania";
    text-align:center;
    padding:20px;
    font-size:30px;
}
.container{
    max-width:900px;
    margin:0 auto;
    padding:20px 30px;
}
#box-content{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
#box-content div{
    margin:30px;
}
#box-content div h3{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}
#box-content .prod-details{
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: space-between;
}
#box-content .shop-item-button{
    cursor:pointer;
    padding:8px;
    color:white;
    border:none;
    font-size:15px;
    font-weight: bold;
    border-radius: 4%;
    background: #56CCF2;
}
#box-content .shop-item-button:hover, #box-content .shop-item-button:hover{
    background: #0eabdf;
}
.cart-row{
    font-size:18px;
    display:flex;
}
.cart-header{
    font-size:1.2rem;
    font-weight: bold;
}
.cart-item{
    width:45%;
}
.cart-img{
    width:80px;
    border-radius:8%;
    margin-right:20px;
}
.cart-price{
    width:20%;
}
.cart-quantity{
    width:35%;
}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-quantity input{
    width:40px;
    height:30px;
    border:1px solid rgb(0, 204, 255) ;
    border-radius:8%;
    outline:none;
    text-align:center;
    margin-right:20px;
}
.cart-quantity button{
    color:white;
    font-weight: bold;
    background: rgb(231, 76, 76);
    cursor: pointer;
    border:none;
    border-radius:8%;
    height:30px;
    outline:none;
    padding: 0px 7px;
}
.cart-quantity button:hover{
    background: rgb(218, 37, 37);;
}
.cart-total{
    display:flex;
    flex-direction: row-reverse;
    font-size:1.2rem;
    margin:20px;
}
.cart-total .total-title{
    margin-right:10px;
    font-size:1.5rem;
}

.purchase-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 50px;
    background: #56CCF2;
    color:white;
    font-size:1.2rem;
    font-weight: bold;
    border:none;
    border-radius:8%;
    padding:12px;
    cursor: pointer;
}
.purchase-btn:hover{
    background-color:#18acdd;
}