* {
    margin: 0;
    padding: 0;
}

header ul {
   padding: 10px 0;
  background-color: rgb(27, 25, 25);
  text-align: center;
  
}

header ul li{
    display: inline;
    padding: 20px;
    
}

header ul li a {
    color: white;
    text-decoration: none;   
}

header {
    background-color: rgb(70, 70, 70);
    width: 100%;
}

header h1 {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  white;
}

